<Context>
    <Parameter name="online.kheops.superuser.hmacsecret" value="${kheops_superuser_hmasecret}"
               override="false"/>
    <Parameter name="online.kheops.auth.hmacsecret" value="${kheops_auth_hmasecret}"
               override="false"/>
    <Parameter name="online.kheops.pacs.uri" value="${kheops_pacs_url}"
               override="false"/>
    <Parameter name="online.kheops.jdbc.url" value="jdbc:${kheops_postgresql_url}"
               override="false"/>
    <Parameter name="online.kheops.jdbc.user" value="${kheops_postgresql_user}"
               override="false"/>
    <Parameter name="online.kheops.jdbc.password" value="mypwd"
               override="false"/>
</Context>
