<Context>
    <Parameter name="online.kheops.superuser.hmacsecret" value="${kheops_superuser_hmasecret}"
               override="false"/>
    <Parameter name="online.kheops.auth.hmacsecret" value="${kheops_auth_hmasecret}"
               override="false"/>
    <Parameter name="online.kheops.pacs.uri" value="${kheops_pacs_url}"
               override="false"/>
    <Parameter name="online.kheops.jdbc.url" value="jdbc:${kheops_postgresql_url}"
               override="false"/>
    <Parameter name="online.kheops.jdbc.user" value="${kheops_postgresql_user}"
               override="false"/>
    <Parameter name="online.kheops.jdbc.password" value="${kheops_authdb_pass}"
               override="false"/>
    <Parameter name="online.kheops.keycloak.clientsecret" value="${kheops_keycloak_clientsecret}"
               override="false"/>
    <Parameter name="online.kheops.keycloak.clientid" value="${kheops_keycloak_clientid}"
               override="false"/>
    <Parameter name="online.kheops.keycloak.uri" value="${kheops_keycloak_uri}"
               override="false"/>
    <Parameter name="online.kheops.keycloak.realms" value="${kheops_keycloak_realms}"
               override="false"/>
    <Parameter name="online.kheops.root.uri" value="${kheops_root_uri}"
               override="false"/>
    <Parameter name="online.kheops.client.dicomwebproxyclientid" value="${kheops_client_dicomwebproxyclientid}"
               override="false"/>
    <Parameter name="online.kheops.client.dicomwebproxysecret" value="${kheops_client_dicomwebproxysecret}"
               override="false"/>
    <Parameter name="online.kheops.client.zipperclientid" value="${kheops_client_zipperclientid}"
               override="false"/>
    <Parameter name="online.kheops.client.zippersecret" value="${kheops_client_zippersecret}"
               override="false"/>
</Context>
