body{
	min-height: 100vh;
	position: relative;	
	padding-bottom: 50px;
	border: 1px solid #343434;
	top: 0;
}
footer {
  position: absolute;
  bottom: 0;
}


.link, .pointer{
	cursor: pointer;
}
.nowrap{
	white-space: nowrap;
}

.kheopsicon{
	color: #FFFFFF;
	fill: #FFFFFF;
}

.kheopsicon:hover{
	color: #fca638;
	fill: #fca638;
}
.kheopsicon{
	color: #FFFFFF;
	fill: #FFFFFF;
}

.kheopsicon:hover{
	color: #fca638;
	fill: #fca638;
}

.kheopsfont{
	color: #fca638;
}

.kheopsfont:hover{
	color: #fca638;
}
