<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <display-name>Kheops Authentication</display-name>
        <servlet-name>online.kheops.auth_server.AuthApplication</servlet-name>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>online.kheops.auth_server.AuthApplication</param-value>
        </init-param>
        <init-param>
            <description>All JWT Assertions signed by issuer superuser.khoeps.online are considered valid</description>
            <param-name>online.kheops.superuser.hmacsecret</param-name>
            <param-value>null</param-value>
        </init-param>
        <init-param>
            <description>HMAC shared secret used to sign tokens</description>
            <param-name>online.kheops.auth.hmacsecret</param-name>
            <param-value>null</param-value>
        </init-param>
    </servlet>
</web-app>
