<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <display-name>Kheops Authentication</display-name>
        <!--suppress ServletWithoutMappingInspection -->
        <servlet-name>online.kheops.auth_server.AuthApplication</servlet-name>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>online.kheops.auth_server.AuthApplication</param-value>
        </init-param>
    </servlet>

    <filter>
        <filter-name>ServletFilter</filter-name>
        <filter-class>online.kheops.auth_server.filter.FixTypeQuoteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ServletFilter</filter-name>
        <url-pattern>/proxy/*</url-pattern>
    </filter-mapping>

    <context-param>
        <description>All JWT Assertions signed by issuer superuser.kheops.online are considered valid</description>
        <param-name>online.kheops.superuser.hmacsecret</param-name>
        <param-value>P47dnfP28ptS/uzuuvEACmPYdMiOtFNLXiWTIwNNPgUjrvTgF/JCh3qZi47sIcpeZaUXw132mfmR4q5K/fwepA==</param-value>
    </context-param>
    <context-param>
        <description>HMAC shared secret used to sign tokens</description>
        <param-name>online.kheops.auth.hmacsecret</param-name>
        <param-value>P47dnfP28ptS/uzuuvEACmPYdMiOtFNLXiWTIwNNPgUjrvTgF/JCh3qZi47sIcpeZaUXw132mfmR4q5K/fwepA==</param-value>
    </context-param>
    <context-param>
        <description>Base URI for the pacs from which study and series metadata can be acquired</description>
        <param-name>online.kheops.pacs.uri</param-name>
        <param-value>http://localhost:8080/dcm4chee-arc/aets/DCM4CHEE/rs</param-value>
    </context-param>
    <context-param>
        <description>Base URI for the authentication server</description>
        <param-name>online.kheops.auth_server.uri</param-name>
        <param-value>http://localhost:7575</param-value>
    </context-param>
    <context-param>
        <description>URL for the connection to the MySQL database</description>
        <param-name>online.kheops.jdbc.url</param-name>
        <param-value>jdbc:mysql://localhost/kheops</param-value>
    </context-param>
    <context-param>
        <description>User name for the mySQL databse</description>
        <param-name>online.kheops.jdbc.user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <description>Password for the mySQL databse</description>
        <param-name>online.kheops.jdbc.password</param-name>
        <param-value>root</param-value>
    </context-param>


</web-app>
